/* Main section */
.main {
    text-align: center;
    position: relative;
    margin-top: -20px;
}

h2 {
    font-size: 70px;
    color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}

.main img {
    width: 100%;
    height: auto;
}

/* Contents section */
.content-coffees,
.content-smoothies,
.content-teas {
    text-align: center;
    position: relative;
    margin-top: -5px;
    overflow: hidden;
}

.content-coffees:before,
.content-smoothies:before,
.content-teas:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    z-index: -1;
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),
        url('../assets/images/page2-2.png') no-repeat center center fixed;
}

.content-coffees {
    background-attachment: fixed; /* 保持背景固定 */
}

/* 可以添加偏移，让它们在视觉上叠加 */
.content-smoothies:before {
    transform: translateX(0%);
}

.content-teas:before {
    transform: translateX(0%);
}

.content-coffees,
.content-smoothies,
.content-teas h3 {
    font-size: 40px;
    padding-top: 40px;
    color: #6F3D28;
    text-align: center;
}

/*.content-coffees, .content-smoothies, .content-teas {
    text-align: center;
    position: absolute;
    margin-top: -5px;
    overflow: hidden;
    /* 添加 overflow 屬性 
    /* Move the background styles to .content:before 
}

.content-coffees:before,
.content-smoothies:before,
.content-teas:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('../assets/images/page2-2.png') no-repeat center center fixed;
    background-size: cover;
    z-index: -1;
}



/*::before {
    content: '';
    display: block;
    position: absolute;
    /* 使用 fixed
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('../assets/images/page2-2.png') no-repeat center center fixed;
    background-size: cover;
    opacity: 0.7;
    z-index: -1;
}*/



.content-coffees,
.content-smoothies,
.content-teas h3 {
    font-size: 40px;
    /* 設定標題字體大小 */
    padding-top: 40px;
    color: #6F3D28;
    text-align: center
}

.container .product {
    margin-top: 0px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container .product .product-info {
    width: calc(25% - 20px);
    margin: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.container .product .product-info .image {
    width: 100%;
    height: auto;
    border-radius: 50%;
    z-index: 1;
}

.container .product .product-info h4 {
    font-size: 30px;
    /* 設定標題字體大小 */
    color: #333;
    margin-top: 10px;
}

.container .product .product-info p {
    color: #666;
    font-size: 25px;
    /* 設定內文字體大小 */
    margin-top: 5px;
}

/*.container .product .product-info {
    width: calc(25% - 20px);
    margin: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    /* Add overflow hidden to prevent the background from overflowing the image
}

.container .product .product-info .image {
    width: 100%;
    height: auto;
    border-radius: 50%;
    z-index: 1;
    /* Set image to z-index 1 to position it in front of the background 
}




.container .product .product-info h4 {
    font-size: 18px;
    color: #333;
    margin-top: 40px;
}

.container .product .product-info p {
    color: #666;
    font-size: 14px;
    margin-top: 5px;
}*/

/* Footer section*/
.footer {
    position: relative;
    color: #fff;
    text-align: center;
    height: 400px;
    padding: 0px 40px 0px 40px;
}

.footer::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../assets/images/footer\ photo.png') center/cover no-repeat;
    z-index: -1;
}

.footer .footer-container {
    position: absolute;
    bottom: 0;
    left: 5%;
    /* Adjust the value here based on the distance to be moved */
    width: 90%;
    /* Use a percentage to ensure it does not exceed the width of .footer */
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer .footer-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    /* Adjust the value as needed */
}

.footer-img img {
    width: 239px;
    height: 155px;
    position: absolute;
    left: 15%;
    transform: translate(-50%, 90%);
}

.footer .footer-section ul {
    list-style-type: none;
}

.footer .footer-section li {
    margin-bottom: 10px;
}

.footer .footer-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Use a percentage to ensure width takes up the entire .footer */
    padding: 20px;
    /* Adjust the bottom margin as needed */
}

.footer h3,
p {
    text-align: center;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a .current {
    color: lightskyblue;
}